<!DOCTYPE html>
<head>
	<title>Resume</title>
	<meta charset="utf-8" />
	<link rel="stylesheet" type="text/css" href="../styles/style.css">
</head>
<body>
	<header class="header">
			<h1 class="header__name">
				Носков Дмитрий
			</h1>
	    	<h2 class="header__profession">
				Программист
			</h2>
			<p class="header__information">
				19 Партсъезда  д.35 кв.34 | Омск | 89503358891 | noskovda@programmer.net 
			</p>
	</header>
	<main class="profile">
		<div class="profile__left-column">
			<div class="profile__left-column__photo-box">
				<img class="profile__left-column__photo" src="https://pp.userapi.com/c620419/v620419905/10bac/NSyNksNa910.jpg" alt="Фото">
			</div>
			<div class="profile__left-column__skills">
				<div class="yellow-inscription">
					Умения
				</div>

				<div class="profile__left-column__skills__data">
					<div class="profile__left-column__skills__data__communication">
						<h3>Общительность</h3>
						<div class="progressbarBox">
							<div class="profile__left-column__skills__data__communication__value progressbar"></div>
						</div>
					</div>

					<div class="profile__left-column__skills__data__creativity">
						<h3>Креативность</h3>
						<div class="progressbarBox">
							<div class="profile__left-column__skills__data__creativity__value progressbar"></div>
						</div>
					</div>

					<div class="profile__left-column__skills__data__teamwork">
						<h3>Командная работа</h3>
						<div class="progressbarBox">
							<div class="profile__left-column__skills__data__teamwork__value progressbar"></div>
						</div>
					</div>

					<div class="profile__left-column__skills__data__organization">
						<h3>Организованность</h3>
						<div class="progressbarBox">						
							<div class="profile__left-column__skills__data__organization__value progressbar"></div>
						</div>
					</div>

					<div class="profile__left-column__skills__data__leadership">
						<h3>Лидерство</h3>
						<div class="progressbarBox">						
							<div class="profile__left-column__skills__data__leadership__value progressbar"></div>
						</div>
					</div>

					<div class="profile__left-column__skills__data__teamplayer">
						<h3>Групповой игрок</h3>
						<div class="progressbarBox">
							<div class="profile__left-column__skills__data__teamplayer__value progressbar"></div>
						</div>
					</div>


				</div>
			</div>
			<br>

			<div class="profile__left-column__software">
				<div class="yellow-inscription">
					ПО
				</div>
				<br>
				<div class="profile__left-column__software__data">
					
					<div class="profile__left-column__software__data__teamplayer">
						<h3>Photoshop</h3>
						<div class="progressbarBox">
							<div class="profile__left-column__skills__data__photoshop__value progressbar"></div>
						</div>
					</div>

					<div class="profile__left-column__skills__data__teamplayer">
						<h3>Coding/CSS</h3>
						<div class="progressbarBox">
							<div class="profile__left-column__skills__data__coding__value progressbar"></div>
						</div>
					</div>

				</div>
			</div>
		</div>

		<div class="profile__right-column">
			<div class="profile__right-column__data">
				<div class="yellow-inscription">
					Обо мне
				</div>
				<div class="profile__right-column__data__description">
					Информация				
				</div>
			</div>
			<div class="profile__right-column__data">
				<div class="yellow-inscription">
					Образование
				</div>
				<div>
					<div class="profile__right-column__data__date">
						2004/2015
					</div>
					<div class="profile__right-column__data__description">
						Гимназия № 12
					</div>
				</div>
				<div>
					<div class="profile__right-column__data__date">
						2004/2015
					</div>				
					<div class="profile__right-column__data__description">
						Гимназия № 12
					</div>
				</div>
			</div>
			
			<div class="profile__right-column__data">
				<div class="yellow-inscription">
					Опыт
				</div>
				<div>
					<div class="profile__right-column__data__date">
						08.2017 - 09.2017
					</div>
					<div class="profile__right-column__data__description">
						<h4 class="profile__right-column__data__description__position">Junior Developer</h4>
						<h4 class="profile__right-column__data__description__firma">ООО "Навигационные системы-Сервис"</h4>
						<a href="www.navsystem.ru">www.navsystem.ru</a>
					</div>
				</div>
			</div>

			<div class="profile__right-column__data">
				<div class="yellow-inscription">
					Рекомендации
				</div>
				<br>
				<div class="profile__right-column__data__reference">
					<h2>Name Lastname</h2>
					<h3>Manager/Company</h3>
					<a href="tel:+7805553535">T: +7805553535</a><br>
					<a href="mailto">E: user@user.com</a>
				</div>
				<div class="profile__right-column__data__reference">
					<h2>Name Lastname</h2>
					<h3>Manager/Company</h3>
					<a href="tel:+7805553535">T: +7805553535</a><br>
					<a href="mailto">E: user@user.com</a>
				</div>
			</div>
		</div>
	</div>
</main>
<footer class="footer"></footer>
</body>