
.header__name {
  font-size: 55px;
  font-weight: normal;
  font-family: "Century Gothic", CenturyGothic, AppleGothic;
  margin-bottom: 1%;
}
.header__profession {
  font-size: 36px:
  font-weight: normal;
  color: #434244;
  font-family: "Century Gothic", CenturyGothic, AppleGothic;
  margin-bottom: 3%;
}
.header__information {
  width: 35%;
  font-size: 22.5px:
  color: #434244;
  font-family: "Century Gothic", CenturyGothic, AppleGothic;
  max-width: 350px;
}
.profile{
	display: inline-block;
}
.profile__left-column {
	width: 370px;
	display: inline-block;
	vertical-align:top;
	margin-right: 20px;
}

.profile__right-column{
	display: inline-block;
	vertical-align:top;
}

.profile__left-column__skills__data,
.profile__left-column__software {
	max-width: 80%;
}
.progressbarBox {
	border: 1px solid #B1B1B1;
  	padding: 0;
  	border-radius: 2px;
  	display: block;
  	height: 9px;
}
.profile__left-column__skills__data__communication__value {
   	width: 70%; 
}
.profile__left-column__skills__data__creativity__value {
   	width: 40%; 
}
.profile__left-column__skills__data__teamwork__value {
   	width: 40%; 
}
.profile__left-column__skills__data__organization__value {
   	width: 40%;
}
.profile__left-column__skills__data__leadership__value {
   	width: 20%; 
}
.profile__left-column__skills__data__teamplayer__value {
   	width: 30%; 
}
.profile__left-column__skills__data__photoshop__value {
   	width: 30%; 
}
.profile__left-column__skills__data__coding__value {
   	width: 75%; 
}
.progressbar {
  	background-color: #B2B2B2;
	height: 100%;
	border-radius: 2px;
	display: block;
}

.profile__left-column__photo-box {
	width: 350px;
	display: inline-block;
	margin-right: 50px;
	margin-bottom: 10px;
	color: #aaa;
}
.profile__left-column__photo{
	max-width: 95%;
    height: auto;
}
.yellow-inscription {
	display: inline-block;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	background-color: #F2CF00;
	margin-bottom: 10px;
	padding: 10px;
}
.profile__right-column__data {
	display: block;
	margin-right: 10px;
	margin-bottom: 10px;
}
.profile__right-column__data__description {
	line-height: 15px;
	min-width: 350px;
	display: block;
	font-size: 10px;
	margin-bottom: 10px;
	font-weight: normal;
}
.profile__right-column__data__description__position {
	font-weight: bold;
}
.profile__right-column__data__description__firma {
	font-weight: normal;
}
.profile__right-column__data__reference {
	display: inline-block;
	margin-right: 20px;
}
.profile__right-column__data__date {
	min-width: 53px;
	display: inline;
	margin-right: 20px;
	font-size: 10px;
	color: #aaa;
}
.footer {
	margin-top: 50px;
	display: block;
	max-width: 1000px;
	min-height: 30px;
	background-color: #F2CF00;
}
